html{
	scroll-behavior: smooth;
}

.main_body{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body_img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 90%;
	object-fit: cover;
}

.body_content{
	position: relative;
	max-width: 900px;
	text-align: center;
	z-index: 1;
	margin-top: -120px;
}

.body_content h2{
	color: #fff;
    font-size: 3em;
    margin: 0px 8px
}

.body_content p{
	color: #fff;
    font-size: 1.2em;
    margin: 0px 25px
}

.col-md-3{
	background: #ff9b00;
	padding: 4%;
	border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
}

.contact-info h2{
	margin-bottom: 10%;
}

.col-md-9{
	background: #25274d;
	padding: 3%;
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
}
.contact-form label{
	font-weight:600;
	color: white;
}
.contact-form button{
	background: black;
	color: #fff;
	font-weight: 600;
	width: 25%;
}
.contact-form button:focus{
	box-shadow:none;
}

.card:hover{
	-webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
	box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
}

.link{
	text-underline-position: none;
	color: black; 
}

.page-footer{
    position: absolute;
    bottom: 1;
    width: 100%;
}